node_modules/
.expo/
dist/
web-build/

# Native build artifacts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/
android/

# macOS
.DS_Store

# env
.env
.env.local

# metro
.metro-health-check*

# eas
eas-build-*.json

# TypeScript
*.tsbuildinfo

# npm
npm-debug.log*
